<<<<<<< HEAD
#top-bar{
    width: 1515px;
    height: 70px;
    background-color: rgb(195, 255, 232);
    margin: auto;
    position: relative;
}

body{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    color: black;
} 

#intro {
    /* display: inline-block; */
    /* float: left; */
    height: 450px;
    width: 1515px;
    margin-top: 50px;
    /* margin-left: 40px; */
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
}
#box1{
    display: inline-block;
    float: left;
    height: 450px;
    width: 450px;
    margin-top: 50px;
    margin-left: 40px;
    background-color: rgb(241, 241, 241);  
    border-radius: 8px; 
}

#box2{
    display: inline-block;
    float: left;
    height: 450px;
    width: 450px;
    margin: 50px 30px 0 40px;
    background-color: rgb(241, 241, 241);   
    border-radius: 8px; 
}

#box3{
    display: inline-block;
    float: left;
    height: 450px;
    width: 450px;
    margin: 50px 30px 0 10px;
    background-color: rgb(241, 241, 241);   
    border-radius: 8px; 
=======
#top-bar{
    width: 1525px;
    height: 70px;
    background-color: rgb(195, 255, 232);
    margin: auto;
    position: relative;
}

body{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    color: black;
} 

#box1{
    display: inline-block;
    float: left;
    height: 450px;
    width: 450px;
    margin-top: 50px;
    margin-left: 40px;
    background-color: rgb(241, 241, 241);  
    border-radius: 8px; 
}

#box2{
    display: inline-block;
    float: left;
    height: 450px;
    width: 450px;
    margin: 50px 30px 0 40px;
    background-color: rgb(241, 241, 241);   
    border-radius: 8px; 
}

#box3{
    display: inline-block;
    float: left;
    height: 450px;
    width: 450px;
    margin: 50px 30px 0 10px;
    background-color: rgb(241, 241, 241);   
    border-radius: 8px; 
>>>>>>> f5b55d695506285983b82436a360118a75e3d987
}