#top-bar {
    width: 1519px;
    height: 70px;
    background-color: rgb(255, 182, 220);
    margin: auto;
    position: relative;
    border: 4px;
    border-style: dashed none dashed none;
    margin-left: -8;
}

.heading{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    color: black;
} 
.avatar img{
    float:left;
    border-radius:20%;
    box-shadow: 5px 5px 5px rgba(156, 156, 156, 0.637);
    }

.avatar{
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}

.intro-text {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-align: left;
    font-size: 35px;
    font-weight: 700;
    margin-top: 50px;
    padding-top: 40px;
    padding-left: 450px;
}

#intro {
    height: 485px;
    width: 1443px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(241, 241, 241);
    border-radius: 6px;
    box-shadow: 8px 8px 5px rgba(156, 156, 156, 0.637);
}

#contactContainer{
    margin-top: 50px;
    margin-left: 930px;
} 

.name{
    font-family: 'Comfortaa', cursive;
    text-align: left;
    font-size: 100px;
    font-weight: 500;
    margin-top: 20px;
    padding-left: 450px;
    padding-right: 20px;
}

a{
    color: black;
  }
a:visited {
    text-decoration: none;
  }

a:active {
    color: hotpink;
  }

.icon {
    background-color: #ffb6dc;
    border-radius: 50%;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 12px;
    padding-left: 12px;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    text-decoration: none;
    text-align:center;
    box-shadow: 5px 5px 5px rgba(156, 156, 156, 0.637);
}


#box1{
    display: inline-block;
    float: left;
    height: 200px;
    width: 1100px;
    margin-top: 50px;
    margin-left: 40px;
    background-color: rgb(241, 241, 241);  
    border-radius: 8px; 
    box-shadow: 5px 5px 5px rgba(94, 94, 94, 0.856);
}

#box2 {
    display: inline-block;
    float: left;
    height: 200px;
    width: 200px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(156, 156, 156, 0.637);
}

.decor1-a{
    float: left;
    text-orientation: upright;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 50px;
    height: 200px;
    width: 22px;
    background-color: rgb(255, 182, 220);
    border-radius: 2px;
}

.decor1{
font-family: 'Luckiest Guy', cursive;
text-align: center;
font-size: 30px;
writing-mode: vertical-rl;
text-orientation: upright;
display: inline-block;
float: left;
height: 200px;
width: 40px;
margin-left: 5px;
margin-top: 50px;
background-color: rgb(255, 182, 220);
border-radius: 5px;
}

.decor2{
    display: inline-block;
    float: left;
    height: 300px;
    width: 60px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: rgb(255, 182, 220);
}

#box3{
    display: inline-block;
    float: left;
    height: 300px;
    width: 300px;
    margin-left: 30px;
    margin-top: 50px;
    background-color: rgb(241, 241, 241);   
    border-radius: 8px; 
    box-shadow: 5px 5px 5px rgba(156, 156, 156, 0.637);
}

body{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}